flows_debian-SD.json
[{"id":"3a6e7ba2.b7c8ec","type":"tab","label":"Kafka Demo","disabled":false,"info":""},{"id":"711b8a6f.aefffc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"KAFKA Airport","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e61383.ba5fec8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"cbfa37ae.4f8988","type":"ui_tab","z":"","name":"KAFKA Airport","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4aec5604.0d92e8","type":"ui_group","z":"","name":"Departure","tab":"cbfa37ae.4f8988","order":1,"disp":true,"width":"6","collapse":false},{"id":"326ca7b6.517388","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7f164fa.c2d8f8","type":"ui_group","z":"","name":"Display","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9aa0349.fe197","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29ba0f3d.b78698","type":"mqtt-broker","z":"","name":"","broker":"mqtt://mqtt.hsl.fi:1883","port":"8883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fab8035b.e083e","type":"kafka-broker","z":"","name":"localhost","hosts":"localhost:9092","selfsign":false,"usetls":false,"cacert":"","clientcert":"","privatekey":"","passphrase":""},{"id":"c4da418f.bbd1e","type":"ui_spacer","name":"spacer","group":"19d5c24.9d2863e","order":2,"width":1,"height":1},{"id":"11b284a8.e84173","type":"ui_group","z":"","name":"Parking","tab":"cbfa37ae.4f8988","order":3,"disp":true,"width":"6","collapse":false},{"id":"bfb50770.90b07","type":"ui_group","z":"","name":"Arrival","tab":"cbfa37ae.4f8988","order":2,"disp":true,"width":"6","collapse":false},{"id":"acb951c6.fc4fe","type":"kafka-consumer","z":"3a6e7ba2.b7c8ec","name":"departure-consumer","broker":"fab8035b.e083e","outOfRangeOffset":"earliest","fromOffset":"latest","topic":"AirportDep","groupid":"","x":230,"y":240,"wires":[["c7c69efa.9d0e1","257ce32a.7e6234","91e02f31.8c786"]]},{"id":"257ce32a.7e6234","type":"debug","z":"3a6e7ba2.b7c8ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":160,"wires":[]},{"id":"92191146.f502e8","type":"ui_chart","z":"3a6e7ba2.b7c8ec","name":"","group":"4aec5604.0d92e8","order":0,"width":0,"height":0,"label":"Passed passengers","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":240,"wires":[[]]},{"id":"c7c69efa.9d0e1","type":"function","z":"3a6e7ba2.b7c8ec","name":"pass-counter","func":"var countCheckIn = context.get('countCheckIn') || 0;\nvar countSecurity = context.get('countSecurity') || 0;\nvar countShop = context.get('countShop') || 0;\nvar countGates = context.get('countGates') || 0;\n\nif (msg.payload.key == 'CheckIn')\n    countCheckIn++;\nelse if (msg.payload.key == 'Security')\n    countSecurity++;\nelse if (msg.payload.key == 'Shops')\n    countShop++;\nelse if (msg.payload.key == 'GatesDep')\n    countGates++;\nelse if (msg.payload == 'reset') {\n    countCheckIn = 0;\n    countSecurity = 0;\n    countShop = 0;\n    countGates = 0;\n}\n\ncontext.set('countCheckIn',countCheckIn);\ncontext.set('countSecurity',countSecurity);\ncontext.set('countShop',countShop);\ncontext.set('countGates',countGates);\n\n// build chart data\nvar m = {};\nm.labels = [\"CheckIn\",\n            \"Security\",\n            \"Shops\",\n            \"Gates\"];\nm.data = [[countCheckIn,\n           countSecurity,\n           countShop,\n           countGates]];\nm.series = [\"Passed passengers\"];\n\nreturn {payload:[m], topic:msg.topic};\n","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["92191146.f502e8"]]},{"id":"2670a122.5798d6","type":"inject","z":"3a6e7ba2.b7c8ec","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["c7c69efa.9d0e1","6d0d6ed5.611de8","91e02f31.8c786","6e85e837.93bbd","51810262.9a4464"]]},{"id":"b075263b.0e93f8","type":"kafka-consumer","z":"3a6e7ba2.b7c8ec","name":"parking-consumer","broker":"fab8035b.e083e","outOfRangeOffset":"earliest","fromOffset":"latest","topic":"ParkingLots","groupid":"","x":230,"y":480,"wires":[["6d0d6ed5.611de8","d9f3ea2b.d21e8","51810262.9a4464"]]},{"id":"6d0d6ed5.611de8","type":"function","z":"3a6e7ba2.b7c8ec","name":"car-total-counter","func":"var carCount = context.get('carCount') || 0;\n\nif (msg.payload.key == 'POP') {\n    value = JSON.parse(msg.payload.value);\n    carCount = value.Population;\n}\nelse if (msg.payload == 'reset')\n    carCount = 0;\n    \ncontext.set('carCount', carCount);\n\nreturn {payload:carCount, topic:msg.topic};\n","outputs":1,"noerr":0,"x":520,"y":480,"wires":[["93cdad63.e21f58"]]},{"id":"93cdad63.e21f58","type":"ui_text","z":"3a6e7ba2.b7c8ec","group":"11b284a8.e84173","order":0,"width":0,"height":0,"name":"","label":"Cars currently in the lot:","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":480,"wires":[]},{"id":"d9f3ea2b.d21e8","type":"debug","z":"3a6e7ba2.b7c8ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":400,"wires":[]},{"id":"b61486c6.d4ba5","type":"kafka-consumer","z":"3a6e7ba2.b7c8ec","name":"arrival-consumer","broker":"fab8035b.e083e","outOfRangeOffset":"earliest","fromOffset":"latest","topic":"AirportArr","groupid":"","x":220,"y":340,"wires":[["9cafe51c.561d3","6e85e837.93bbd"]]},{"id":"9cafe51c.561d3","type":"debug","z":"3a6e7ba2.b7c8ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]},{"id":"91e02f31.8c786","type":"function","z":"3a6e7ba2.b7c8ec","name":"gate-counter","func":"var countA = context.get('countA') || 0;\nvar countB = context.get('countB') || 0;\nvar countC = context.get('countC') || 0;\nvar countD = context.get('countD') || 0;\nvar value;\n\nif (msg.payload.key == 'Security') {\n    value = JSON.parse(msg.payload.value);\n    switch(value.gate) {\n        case 'A': countA++; break;\n        case 'B': countB++; break;\n        case 'C': countC++; break;\n        case 'D': countD++; break;\n    }\n}\nelse if (msg.payload.key == 'GatesDep') {\n    value = JSON.parse(msg.payload.value);\n    switch(value.gate) {\n        case 'A': countA--; break;\n        case 'B': countB--; break;\n        case 'C': countC--; break;\n        case 'D': countD--; break;\n    }\n}\nelse if (msg.payload == 'reset') {\n    countA = 0;\n    countB = 0;\n    countC = 0;\n    countD = 0;\n}\n\ncontext.set('countA',countA);\ncontext.set('countB',countB);\ncontext.set('countC',countC);\ncontext.set('countD',countD);\n\n// build chart data\nvar m = {};\nm.labels = [\"A\",\n            \"B\",\n            \"C\",\n            \"D\"];\nm.data = [[countA,\n           countB,\n           countC,\n           countD]];\nm.series = [\"Security gates\"];\n\nreturn {payload:[m], topic:msg.topic};\n","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["f5d0a1cf.0ad468"]]},{"id":"f5d0a1cf.0ad468","type":"ui_chart","z":"3a6e7ba2.b7c8ec","name":"","group":"4aec5604.0d92e8","order":0,"width":0,"height":0,"label":"Gates","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":200,"wires":[[]]},{"id":"6e85e837.93bbd","type":"function","z":"3a6e7ba2.b7c8ec","name":"arrival-display","func":"var arrivals = context.get('arrivals') || [];\n\nif (msg.payload.key == 'GatesArrival') {\n    value = JSON.parse(msg.payload.value);\n    \n    if (arrivals.length === 0 || arrivals[0].airline != value.Airline) {\n        arrivals.unshift({airline: value.Airline, gate:value.gate})\n\n        if (arrivals.length > 10)\n            arrivals.pop(); \n    }\n}\nelse if (msg.payload == 'reset') {\n    arrivals = [];\n}\n\ncontext.set('arrivals',arrivals);\n\nreturn {payload: arrivals, topic:msg.topic};\n","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["4633dd59.3b07cc"]]},{"id":"4633dd59.3b07cc","type":"ui_template","z":"3a6e7ba2.b7c8ec","group":"bfb50770.90b07","name":"Latest flights","order":1,"width":"4","height":"5","format":"<table id=\"table\">\n     <tr>\n        <th style='min-width: 150px;'>Airline</th> \n        <th>Gate</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"item in msg.payload\">\n   <td>{{item.airline}}</td>\n   <td style='text-align: center'>{{item.gate}}</td>\n </tr>\n </tbody>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":340,"wires":[[]]},{"id":"51810262.9a4464","type":"function","z":"3a6e7ba2.b7c8ec","name":"car-pass-counter","func":"var countEnter = context.get('countEnter') || 0;\nvar countExit = context.get('countExit') || 0;\n\nif (msg.payload.key == 'EXIT')\n    countExit++;\nelse if (msg.payload.key == 'ENTER')\n    countEnter++;\nelse if (msg.payload == 'reset') {\n    countExit = 0;\n    countEnter = 0;\n}\n\ncontext.set('countExit',countExit);\ncontext.set('countEnter',countEnter);\n\n// build chart data\nvar m = {};\nm.labels = [\"Enter\",\n            \"Exit\"];\nm.data = [[countEnter,\n           countExit]];\nm.series = [\"Passed cars\"];\n\nreturn {payload:[m], topic:msg.topic};\n","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["ad0a430b.a92b1"]]},{"id":"ad0a430b.a92b1","type":"ui_chart","z":"3a6e7ba2.b7c8ec","name":"","group":"11b284a8.e84173","order":0,"width":0,"height":0,"label":"Passed cars","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":440,"wires":[[]]}]